<nav class="navbar">
       <div class="nav__items">
         <a class="nav-link"   routerLink="/product">All</a>
       <!-- <a class="nav-link">
        <select name="utensils" id="utensils" (change)="utensilOptionChanged($event)">
          <option value="" selected disabled>Utensils</option>
          <option value="all" >All Utensils</option>
          <option value="cups" >Cups</option>
          <option value="plates"  >plates</option>
          <option value="glasses"  >Glasses</option>
          <option value="curtlery"  >Curtlery</option>
         </select>
        </a> -->
         <a class="nav-link" href="#">Cookware</a>
         <a class="nav-link" href="#">Bakeware</a>
         <a class="nav-link" href="#">Food Storage</a>
         <a class="nav-link" href="#">Grilling&Roasting</a>
         <a class="nav-link" href="#">Bakeware</a>
         <a class="nav-link" href="#">Coffee Makers</a>
         <a class="nav-link" href="#">Water Kettles</a>
         <a class="nav-link" href="#">Curtlery & Flatware</a>
         <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
       </div>
 </nav>
  
   
 



