.navbar{
  background-color: #fff;
  padding: 10px 5px;
}

.nav__items{
  display: flex;
  gap: 10px;
}
.nav__items a {
  display: inline-block;
  text-decoration: none;
  flex: 1;
  text-wrap: nowrap;
  padding: 4px 6px;
  background-color: #f2f2f2;
  border-radius: 10%;
}

.nav__items a:first-child{
 flex: 0;
 padding: 4px 10px;
}
.nav__items a:visited{
  background-color: #f2f2f2;
}

.nav__items a:hover{
background-color: #e5e5e5;
}

.nav__items a:active{
  background-color: black;
  color: white;
}

.nav__items a:focus{
background-color: black;
color: white;
}
