<section class="large">
    <div class="popular_box">
        <img src="assets/popular/popular2.jpg" alt="" width="150px" height="auto">
        <h4 class="popular_name">Plateset</h4>
    </div>

    <div class="popular_box">
        <img src="assets/popular/popular3.jpg" alt="" width="150px" height="auto">
        <h4 class="popular__name">Plateset</h4>
    </div>
    <div class="popular_box">
        <img src="assets/popular/popular4.jpg" alt="" width="150px" height="auto">
        <h4 class="popular__name">Plateset</h4>
    </div>
    <div class="popular_box">
        <img src="assets/popular/popular5.jpg" alt="" width="150px" height="auto">
        <h4 class="popular__name">Plateset</h4>
    </div>
    <div class="popular_box">
        <img src="assets/popular/popular6.jpg" alt="" width="150px" height="auto">
        <h4 class="popular__name">Plateset</h4>
    </div>
</section>
