<section class="cart__container">
 <div class="heading">
    <div class="heading__name">Shopping Cart (3)</div>
    <!-- <div class="price-tag">Price</div> -->
 </div>
   <div class="horizontal__line"></div>
    <div class="cont">
        <div class="cart__item">
            <img src="assets/plates/plates1.jpg" alt="">
        </div>
        <div class="item__details">
            <div class="item__name">
     Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique nobis asperiores excepturi assumenda ipsa. Sed.
            </div>
            <div class="stock">
                inStock
            </div>
           
            <!-- <span>|</span> -->
            <!-- <span class="delete">Delete</span> -->
            
    </div>

    <div class="item__price">
        <p class="pri">Kshs 6000</p>
        <div class="actions">
            <span class="add">+</span>
            <span>17</span>
            <span class="subtract">-</span>
         </div>
    </div>
</div>

<div class="horizontal__line"></div>

<div class="cont">
    <div class="cart__item">
        <img src="assets/plates/plates1.jpg" alt="">
    </div>
    <div class="item__details">
        <div class="item__name">
 Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis porro, veritatis ea ad corrupti rerum velit fugiat laboriosam placeat cupiditate laudantium recusandae adipisci commodi hic dignissimos tenetur omnis nesciunt natus inventore. Ea eos illo aut est quam reiciendis sit id!
        </div>
        <div class="stock">
            inStock
        </div>
    
        <!-- <span>|</span> -->
        <!-- <span class="delete">Delete</span> -->
</div>

<div class="item__price">
    <div><i class="fa-solid fa-trash"></i>Remove</div>
    <p class="pri">Kshs 6000</p>
    <div class="actions">
        <span class="add">+</span>
        <span>0</span>
        <span class="subtract">-</span>
     </div>
</div>
</div>


<div class="horizontal__line"></div>

<p class="subtotal">SubTotal (6 Items) : Kshs 5000</p>

</section>
