

<!-- <div>
    <p>Get free delivery for orders above 20,000 in Kitale</p>
</div>
<hr> -->

<!-- <nav class="navbar bg-body-tertiary">
    <div>
      <a class="navbar-brand" href="#">AMAZING KITCHEN</a>
      <p>make a kitchen part of your home</p> 
    
    </div>
    
  </nav> -->
  
  <nav class="navbar navbar-light" style="background-color: #0da8e4;">
    <!-- #e3f2fd -->

  <img alt="" src="assets/Logo maker project (1).png"  class="image">
    
      <!-- <p class="navbar-brand" href="#">WELCOME TO AMAZING KITCHEN</p>
      <p>make a kitchen part of your home</p>  -->
      <!-- <input type="text" placeholder="Search"> -->
     <div class="search">
      <input class="input" type="search" placeholder="Search" aria-label="Search">
      <button  type="submit">Search</button>
     </div>
     <div class="navbar-nav fluid">
      <div><a class="nav-link" href="#">Home</a></div>
     <div><a class="nav-link" href="#">About Us</a></div>
     <div><a class="nav-link" routerLink="/contact" >Contact Us</a></div>
     <div><a class="nav-link" routerLink="/admin" >Add</a></div>
     </div>
     <div>
      <button>Login/Register</button>
     </div>

     <div>
      <button>Cart</button>
     </div>
</nav>