<!-- <div>
    <p>Get free delivery for orders above 20,000 in Kitale</p>
</div>
<hr> -->

<!-- <nav class="navbar bg-body-tertiary">
    <div>
      <a class="navbar-brand" href="#">AMAZING KITCHEN</a>
      <p>make a kitchen part of your home</p> 
    
    </div>
    
  </nav> -->

<nav  class="navbar">
  <!-- #e3f2fd  #0da8e4-->

  <!-- <img alt="" src="assets/Logo maker project (1).png" class="navbar__image" /> -->

 <div class="brand">
  <p class="navbar__brand" href="#">AMAZING KITCHEN</p>
    <p class="navbar__subbrand">make a kitchen part of your home</p> 
 </div> 
  <!-- <input type="text" placeholder="Search"> -->

  <div class="navbar__search">
    <input
      class="navbar__search__input"
      type="search"
      placeholder="Search"
      aria-label="Search"
    /> <i class="fas fa-search navbar__search__button"></i>
    <!-- <button class="" type="submit"></button> -->
  </div>
  
  <div class="content">
    <div class="navbar__elements">
      <a class="link" routerLink="#">Home</a>
      <a class="link" routerLink="#">About Us</a>
      <a class="link" routerLink="/contact">Contact Us</a>
      <a class="link" routerLink="/admin">Add</a>
    </div>
    
    <div class="icons">
      <div>
        <button><i class="fas fa-user"></i> Account</button>
      </div>
    
      <div>
        <button><i class="fas fa-shopping-cart"></i></button>
      </div>
    </div>
  </div>

  
</nav>


